#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid var(--color-3);
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
}

#cancel-edit-btn {
  margin-top: 1rem;
}

/* todo toolbar */

#toolbar {
  padding: 1rem;
  border-bottom: 1px solid var(--color-3);
  display: flex;
}

#toolbar h4 {
  margin-bottom: .5rem;
}

#search {
  border-right: 1px solid var(--color-4);
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: .3rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}

/* todo list */

.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--color-3);
  transition: .3s;
}

.todo h3 {
  flex: 1;
  font-size: 0.9rem;
}

.todo button {
  margin-left: .4rem;
}

.done {
  background-color: var(--color-5);
}

.done h3 {
  color: var(--color-0);
  text-decoration: line-through;
  font-style: italic;
}